<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">

	<body>

   		<div class="col-md-9 bgcolor-g margin-dash task-form" layout:fragment="content">

 			<form method="POST"
     			  th:action="@{/task/save}"
				  th:object="${task}">
     				
				<input name="title" type="text" class="form-control" placeholder="Título da tarefa"><br>

				<label>Defina a data final de entrega dessa tarefa:</label>
				<input name="dueDate" type="date" class="form-control" placeholder="Data final de entrega"><br>
				<input name="expectedTime" type="text" class="form-control" placeholder="Tempo esperado para concluí-la"><br>
				<input name="description" type="text" class="form-control" placeholder="Descrição da tarefa"><br>
				
				<label>Defina a dificuldade de realizar essa tarefa:</label>
				<select class="custom-select form-group" name="dificulty">
				  <option selected value="UNKNOWN">Não sei informar</option>
				  <option selected value="LOW">Fácil</option>
				  <option value="MEDIUM">Médio</option>
				  <option value="HIGH">Difícil</option>
				</select><br><br>
				
				<label>Defina a prioridade dessa tarefa:</label>
				<select class="custom-select form-group" name="priority">
				  <option selected value="NONE">Nenhuma</option>
				  <option value="LOW">Baixa</option>
				  <option value="MEDIUM">Média</option>
				  <option value="HIGH">Alta</option>
				</select><br><br>
				
				<label>Essa tarefa faz parte da sua rotina?</label>
				<select class="custom-select form-group" name="type">
				  <option selected value="ROUTINE">Sim</option>
				  <option value="TEMPORARY">Não</option>
				</select><br><br>
				
				
			  	<button type="submit" class="btn btn-blue">Cadastrar tarefa</button>
			</form>
   				
   		</div>
   		
	</body>
</html>