<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">

	<body>


   		<div class="col-md-9 bgcolor-g margin-dash task-form" layout:fragment="content">

			<form name="f" th:action="${'/tasks/'+ task.id }" method="POST">
				<div th:if="${success != null}" class="alert alert-success" role="alert"><span th:text="${success}">msg success</span></div>
				<div th:if="${error != null}" class="alert alert-danger" role="alert"><span th:text="${error}">msg error</span></div>
						
	    				
				<input name="title" type="text" class="form-control" th:field="${task.title}"><br>
				<input name="teacher" type="text" class="form-control" th:field="${task.teacher}"><br>
				<input name="expectedTime" type="text" class="form-control" th:field="${task.expectedTime}"><br>
				<input name="description" type="text" class="form-control" th:field="${task.description}"><br>
				
				<label>Defina a categoria dessa tarefa:</label>

				<select name="category" class="custom-select">
				  <option th:selected="${task.category.toString() == 'Aula' }" value="CLASS" >Aula</option>
  				  <option th:selected="${task.category.toString() == 'Monitoria' }" value="SUPPORT" >Monitoria</option>
  				  <option th:selected="${task.category.toString() == 'Aula extra' }"  value="EXTRA">Aula extra</option>
				</select><br>
							
				
				<label>Essa tarefa faz parte da sua rotina?</label>
				<select class="custom-select form-group" name="type">
				  <option th:selected="${task.type.toString() == 'Rotina' }" value="ROUTINE">Sim</option>
				  <option th:selected="${task.type.toString() == 'Temporária' }" value="TEMPORARY">Não</option>
				</select><br><br>
				
					
		  		<button type="submit" class="btn btn-blue">Editar tarefa</button>
			</form>
   				
   		</div>
   		
   		
	</body>
</html>