<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
	<head>

		<th:block layout:fragment="stylesheet">	
  			<link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
	   	</th:block>

	</head>
	<body>
   				
 		<div class="col-md-9 bgcolor-g margin-dash task-form" layout:fragment="content">
 			
 			<div id="calendar" ></div>
				
 		</div>
 		
   		
	
	
	
	<th:block layout:fragment="script">	
	
	
		<!-- Full Calendar -->	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/locale/pt-br.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		
		<script type="text/javascript">
		
			
			$(document).ready(function() {

				function getSunday(d) {
					var t = new Date(d);
					  t.setDate(t.getDate() - t.getDay());
					  return t;
        		}

				$('#calendar').fullCalendar({
					defaultView : 'agendaWeek',
					header : {
						left : 'prev,next',
						center : 'title',
						right : 'agendaDay,agendaWeek'
					},
					
					height : 450,
					
					events: function(start, end, timezone, callback) {
					    $.ajax({
					      url: 'api/tasks',
					      dataType: 'json',
					      type:'GET',
					      data: {
					        // our hypothetical feed requires UNIX timestamps
					        start: start.unix(),
					        end: end.unix()
					      },
					      success: function(doc) {
					        var events = [];
					        var sun = getSunday(new Date());
					        doc.forEach(function(item, a) {
					        	if( item.startDate	 != null){
					        	  var timeStart = item.startDate.split(":")
								  var timeEnd = item.endDate.split(":")
								  
								  var start = moment().startOf('week').add(item.day,'days').hour(timeStart[0]).minute(timeStart[1]);
					        	  var end = moment().startOf('week').add(item.day,'days').hour(timeEnd[0]).minute(timeEnd[1]);
								  var color = item.type == "ROUTINE" ? "#FFC420" : "#170DFF"
						          $('#calendar').fullCalendar('renderEvent', {
						        	  id: item.id,
						              title: item.title,
						              start: start,
						              end: end,
						              color: color,
						              editable: item.type != "ROUTINE"
						            });
					        	}
					          
					   
					        });
					        callback(events);
					      }, error: function (xhr, err) {
					          alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
					          alert("responseText: " + xhr.responseText);
					      }
					    });
					    
					} ,
					color: 'yellow',   // an option!
				    textColor: 'black', // an option!
				    minTime: '07:00:00',
			        maxTime: '31:00:00',
			        allDaySlot: false,
			        locale: 'pt-br'

				});
				

			});
		</script>
	</th:block>
	
	</body>
	
</html>