<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
	<head>

		<th:block layout:fragment="stylesheet">	
  			<link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
	   	</th:block>

	</head>
	<body>
   				
 		<div class="col-md-9 bgcolor-g margin-dash task-form" layout:fragment="content">
 			
 			<h2>OI</h2>
 			<span th:text="${tasks}"></span>
 			
 			<div th:each="task : ${tasks}">
 				
 				<h4>----</h4> 
 				<div th:each="t : ${task}">

					<h4 th:text="${t.title}"></h4> 
					<h4 th:text="${t.startDate}"></h4> 
				</div>
			</div>
 			
 			<div id="calendar" ></div>
   					
 		</div>
   		
	
	
	
	<th:block layout:fragment="script">	
	
	
		<!-- Full Calendar -->	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		
		<script type="text/javascript">
		
			
			$(document).ready(function() {

				$('#calendar').fullCalendar({
					defaultView : 'agendaFourDay',
					groupByResource : true,
					header : {
						left : 'prev,next',
						center : 'title',
						right : 'agendaDay,agendaFourDay'
					},
					views : {
						agendaFourDay : {
							type : 'agenda',
							duration : {
								days : 4
							}
						}
					},
					height : 450,

			eventSources : [

					// your event source
					{
						url : '/api/tasks',
						type : 'GET',
						error : function(e) {
							alert('there was an error while fetching events!');
							console.log(e);
						},
						color : 'yellow', // a non-ajax option
						textColor : 'black' // a non-ajax option
					} ]

				});

			});
		</script>
	</th:block>
	
	</body>
	
</html>