<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorate="~{layout}">
        
		<body>
   		
   		<div class="col-md-9 bgcolor-g margin-dash task-form" layout:fragment="content">
  					
			<center>
				<img class="profile-image" th:src="@{/view/images/profile.png}"/>
				<h4>Jaine Rannow Budke  <i class="fa fa-edit"></i></h4>
				<h5>jainebudke@hotmail.com</h5>
				
				<br><br><br>
			
				<a th:href="@{/profile-edit}"><button class="btn btn-blue">Trocar senha</button></a>
				<button class="btn btn-blue">Excluir conta</button>
				
			</center>
  			
  		</div>	
   		
	</body>
</html>